<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1><div  class="mt-4 mb-2"><%= articles.title %></div></h1>
        <div class="mb-2"><%= articles.description %></div>
        <div class="text-muted mb-2"><%= articles.createdat.toLocaleDateString() %></div>
        <a href="/" class="btn btn-secondary" >ALL ARTICLES</a>
        <a href="/articles/edit/<%= articles.id %>" class="btn btn-info">EDIT</a>
        <hr>

        <div><%- articles.sanitizedHtml %></div>

    
</body>
</html>